@charset "UTF-8";
header .mobile-header, header .pc-header {
  background: white;
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header .mobile-header div, header .pc-header div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header {
  position: fixed relative;
}
header a {
  text-decoration: none;
}
header .icon-instagram {
  color: #7971ea;
}
header .icon-instagram::before {
  content: "";
}
header .icon-menu {
  color: #7971ea;
  font-size: 30px;
  font-weight: 100;
  cursor: pointer;
}
header .icon-menu:before {
  content: "";
}
header .pc-header {
  position: absolute;
  height: 100px;
  display: flex;
  flex-direction: row;
}
header .pc-header ul li {
  display: inline-block;
}
header .pc-header ul li a {
  text-decoration: none;
  color: #7971ea;
  font-weight: bold;
  font-size: 1.1rem;
}
header .pc-header ul li a:hover {
  color: pink;
  transition: 0.5s;
}
header .mobile-header {
  height: 72px;
}
header .mobile-header img {
  margin: 0;
  padding: 0;
}

@media (max-width: 991px) {
  .mobile-header {
    visibility: visible;
  }

  .pc-header {
    visibility: hidden;
  }
}
@media (min-width: 992px) {
  .mobile-header {
    visibility: hidden;
  }

  .pc-header {
    visibility: visible;
  }
}
#first-section .overlay::before, #first-section .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

img {
  max-height: 300px;
  max-width: 415px;
  width: 100%;
  border-radius: 10px;
}

#first-section {
  position: relative;
  width: 100%;
  min-height: 800px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  color: white;
  text-align: center;
}
#first-section span {
  font-size: 3rem;
  margin-bottom: 1rem;
}
#first-section p {
  line-height: 2rem;
  margin-bottom: 2rem;
}
#first-section .overlay {
  background: url(../img/home.jpg);
  background-size: cover;
}
#first-section .overlay::before {
  opacity: 0.5;
  background: #662ba2;
  content: "";
}

@media (max-width: 700px) {
  #first-section {
    flex-wrap: wrap;
  }
  #first-section span {
    font-size: 2rem;
    margin-top: 5rem;
  }
  #first-section p {
    line-height: 1.5rem;
    margin-bottom: 2rem;
    font-size: 1rem;
  }
}
#about-me {
  position: relative;
  min-height: 550px;
  font-size: 10px;
  width: 100%;
  flex-direction: column;
  background: white;
}
#about-me p {
  font-size: 1.3rem;
  font-style: italic;
  line-height: 2rem;
}
#about-me div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: gray;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
#about-me div img {
  width: 70%;
  max-height: 100%;
  border-radius: 10px;
  object-fit: cover;
}
#about-me div div {
  width: 100%;
}

@media (min-width: 992px) {
  #about-me {
    flex-direction: row;
  }
  #about-me p {
    font-size: 2rem;
    font-style: italic;
    line-height: 2.5rem;
    padding-left: 2rem;
  }
  #about-me div {
    margin-right: 2rem;
  }
}
#items {
  background: white;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 800px;
}
#items .head-of-section {
  height: 200px;
  background: #977ccc;
  text-align: center;
  color: white;
  font-weight: bold;
}
#items .hats {
  position: absolute;
  left: 0;
  top: 150px;
  width: 100%;
  height: auto;
}
#items .hats .item {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  text-align: left;
  width: 500px;
  height: 500px;
  border-radius: 10px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 5px;
  background: white;
}
#items .hats .item p {
  width: 90%;
  line-height: 2rem;
}
#items .hats .item span {
  width: 90%;
}
#items .hats .item img {
  width: 220px;
  height: 220px;
}
#items .hats .item .price {
  color: white;
  font-weight: bold;
  position: absolute;
  right: 0;
  bottom: 0;
  background: #977ccc;
  border-top-left-radius: 90px;
  border-bottom-left-radius: 90px;
}

@media (max-width: 720px) {
  #items {
    height: 720px;
  }
}
@media (min-width: 721px) {
  #items .hats .item {
    width: 400px;
    height: 570px;
    margin: 1rem;
  }
}
body {
  background: purple;
  overflow-x: hidden;
}

html {
  font-size: 10px;
}

header .pc-header img, header .mobile-header img {
  width: 190px;
  height: 50px;
  filter: invert(39%) sepia(5%) saturate(9265%) hue-rotate(210deg) brightness(80%) contrast(130%);
}

.site-menu-icon {
  font-family: "icomoon" !important;
}

.btn {
  background-color: #7971ea;
  border-color: #7971ea;
  font-size: 0.8rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  font-weight: bold;
}
.btn:hover {
  background-color: pink;
  border-color: pink;
}