@charset "UTF-8";
body {
  background: purple;
  height: 1000px;
}

header .mobile-header img, header .pc-header img {
  width: 190px;
  height: 50px;
  filter: invert(39%) sepia(5%) saturate(9265%) hue-rotate(210deg) brightness(80%) contrast(130%);
}

.site-menu-icon {
  font-family: "icomoon" !important;
}

.btn {
  background-color: #7971ea;
  border-color: #7971ea;
  font-size: 1rem;
  font-weight: bold;
}
.btn:hover {
  background-color: pink;
  border-color: pink;
}

header .mobile-header, header .pc-header {
  background: white;
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header .mobile-header div, header .pc-header div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header {
  position: fixed relative;
}
header a {
  text-decoration: none;
}
header .icon-instagram {
  color: #7971ea;
}
header .icon-instagram::before {
  content: "";
}
header .icon-menu {
  color: #7971ea;
  font-size: 30px;
  font-weight: 100;
  cursor: pointer;
}
header .icon-menu:before {
  content: "";
}
header .pc-header {
  position: absolute;
  height: 100px;
  display: flex;
  flex-direction: row;
}
header .pc-header ul li {
  display: inline-block;
}
header .pc-header ul li a {
  text-decoration: none;
  color: #7971ea;
  font-weight: bold;
  font-size: 1.1rem;
}
header .mobile-header {
  height: 72px;
}
header .mobile-header img {
  margin: 0;
  padding: 0;
}

@media (max-width: 991px) {
  .mobile-header {
    visibility: visible;
  }

  .pc-header {
    visibility: hidden;
  }
}
@media (min-width: 992px) {
  .mobile-header {
    visibility: hidden;
  }

  .pc-header {
    visibility: visible;
  }
}