$orange: #ff5c00 !global;
$white: #ffffff !global;
$gray: #c4c4c4 !global;
$black: #000000 !global;
$Montserrat: 'Montserrat Light', arial !global;
$Candara: Candara !global;


%header{
    position: fixed; 
    justify-content: space-between;
    left: 0; top: 0;
    align-items: center;
    z-index: 5;
}

%underline{
    background: url(../img/line.png);
    background-position:bottom center;
    background-size: 60px auto;
    background-repeat: no-repeat;
}

.header_mobile{
    @extend %header;
    
    .logo{
        width: 150px;
        height: 100px;
    }
}

.header_pc{
    @extend %header;
    justify-content: center;
    
    .logo{
        width: 225px;
        height: 100px;
    }
    .menu_pc{
        ul{
            justify-content: space-between;
            
            li{
                text-align: center;
                
            }
            a{
                color: $gray; 
                text-decoration: none;
                &:hover{color: $orange;}
                font-size: 1.3rem;
                font-family: $Candara; 
            }
            
            .active{
                color: $orange;
                @extend %underline;
            }
        }
        
        .pc_nav_item{
            height: auto;
            padding-bottom: 1rem;
            &:hover{@extend %underline;}
        }
        
    }
    
}



@media(max-width: 991px){
    .header_mobile{visibility: visible;}
    .header_pc{visibility: hidden}
}
@media(min-width: 992px){
    .header_mobile{visibility:hidden;}
    .header_pc{visibility: visible;}
}