$orange: #ff5c00;
$gray: #c4c4c4;
$font-size: 10px;

#start-section{
    position: relative;
    width: 100%;
    min-height: 700px;
    background: url(../img/pizza1.jpg);
    background-size: cover;
    .overlay{
        position: absolute;
        width: 100%; height: 100%;
        top: 0; left: 0;
        z-index: .5;
        background: black;
        opacity: .7; content: "";
    }
}

%slide-ovelay{
    width: 100%; height: 100%;
    position: absolute;
    left: 0; top: 0;
    content: "";
    background: black;
    opacity: .8;
}

%btn-prev-next{
    position: absolute;
    top: 40%;
    z-index: 4;
    font-size: 4rem;
    color: $orange;
    cursor: pointer;
}

.swiper-container{
    max-width: 600px;
    max-height: 500px;
    width: 100%;
    position: relative;  
    
    .swiper-slide{
        position: relative;
        z-index: 3;
        height: auto;
        div{
            width: 100%; height: 100%;
            position: absolute;
            visibility: visible;
            color: white;
            left: 0; top:0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            p{width:90%; text-align: center; font-size: 1.1rem;}
        }
        .slide-overlay{
            @extend %slide-ovelay;
            opacity: .2;
        }
    }
    
}

.combo-box{
    width: 100%;
    max-width: 600px;
    min-height: 150px;
    background: #000000a6;
    border-radius: 10px;
    color: $gray;
    text-align: center;
    img{width: 125px; height: 125px;border-radius: 10px;}
    p{font-size: 1rem; margin-top: 1rem;};
}

@media(max-width: 991px){
    .swiper-container{margin-bottom: 4rem; max-height: 200px;}
    .swiper-wrapper{max-height: 200px;}
    .combo-box{
        p{font-size: 0.7rem;}
        img{width: 95%; height: 80%;}
        margin-bottom: 1rem;
    }
    #start-section{
        .main-section{margin-top: 10rem;}
    }
}
@media(min-width: 992px){
    
}
