@media only screen  and (min-width: 1920px) {
    html{
        font-size: 15px;
    }
    .social-links img{
        transform: scale(1.2);
    }
    
    .inst-photo img{
    }
}

@media only screen  and (max-width: 1000px) {
    
    aside{
        visibility: hidden;
    }
    
    #space{
        width: 0;
    }
    content{
        width:  100%;
    }
    .slider{
        width: 0;
        height: 0;
        visibility: hidden;
    }
    
    .top-info{
        flex-direction: column;
        align-items: center;
    }
    
    .about-me{
        width: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .info{
        width: 90%;
        margin-left: 0;
    }
    
    .about-me p{
        text-align: left;
        max-width: 100%;
    }
    .about-me p.about-me-info{
        font-size: 2rem;
        color: gray;
        max-width: 100%;
    }
    .inst-photo{
        flex-wrap: wrap;
    }
    .inst-photo img{
        width: 100%;
    }
    
    .follow-my-inst h3{
        font-size: 2.5rem;
    }
}