<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/reset.css">
    
    <link rel="stylesheet" href="css/burger.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
    <link rel="stylesheet" href="css/constructor.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="header_pc col-12 mt-4 d-flex flex-row">
           <div class="d-flex flex-row align-items-center justify-content-space-between" style="max-width: 1300px; width: 100%">
            <div class="logo ml-4  mr-4">
                <a href="index.html"><img src="img/logo.png" class="img-fluid" alt=""> </a>  
            </div>
            <div class="menu_pc container-fluid">
                <ul class="d-flex flex-row">
                    <li><a href=""><div class="pc_nav_item">Пицца</div></a></li>
                    <li><a href=""><div class="pc_nav_item">Домашняя<br>кухня</div></a></li>
                    <li><a href=""><div class="pc_nav_item">Салаты</div></a></li>
                    <li><a href=""><div class="pc_nav_item">Закуски</div></a></li>
                    <li><a href=""><div class="pc_nav_item">Десерты</div></a></li>
                    <li><a href=""><div class="pc_nav_item">Барная<br>карта</div></a></li>
                    <li><a href=""><div class="pc_nav_item active">Конфигуратор<br>заказа</div></a></li>
                </ul>
            </div>
            <div style="width: 75px; height: 75px;" class="mr-4 ml-4"><img src="img/shop.png" class="img-fluid" alt=""></div>
        </div>
    </div>
    <div class="header_mobile d-flex flex-row col-12">
        <div class="logo">
            <img src="img/logo.png" class="img-fluid ml-4" alt="">    
        </div>
        <div class="d-flex flex-row justify-content-space-around">
            <div style="width: 50px; height: 50px;" class="mr-4"><img src="img/shop.png" class="img-fluid" alt=""></div>
            <nav class="nav">
                <input class="nav__check" type="checkbox" id="showmenu"/>
                <label class="nav__showmenu" for="showmenu">&#9776;</label>
                <ul class="menu">
                    <li><a class="menu__item" href="index.html">Пицца</a></li>
                    <li><a class="menu__item" href="#">Домашняя<br>кухня</a></li>
                    <li><a class="menu__item" href="#">Салаты</a></li>
                    <li><a class="menu__item" href="#">Закуски</a></li>
                    <li><a class="menu__item" href="#">Барная<br>карта</a></li>
                    <li><a class="menu__item" href="#">Конфигуратор<br>заказа</a></li>
                </ul>
            </nav>
        </div>
    </div>
    
    <section id="constructor" class="d-flex flex-row justify-content-center">
        <div class="overlay"></div>
        <div class="row w-100 align-items-center" style="height: auto; max-width: 1300px;" id="main-info">
            <div class="col-12 col-lg-4 w-100" id="nav-shop">
                <button @click="set_active(1)" class="btn menu-active">Пицца</button>
                <button @click="set_active(2)"  class="btn">Домашняя кухня</button>
                <button @click="set_active(3)" class="btn" >Салаты</button>
                <button @click="set_active(4)" class="btn">Закуски</button>
                <button @click="set_active(5)" class="btn">Десерты</button>
                <button @click="set_active(6)" class="btn">Барная карта</button>
            </div>
            <div class="col-12 col-lg-5 w-100">
                <div class="swiper-container">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper w-100" >
                        <!-- Slides -->
                        
                        <!-- Пиццы -->
                        <div class="swiper-slide" id="pizzas">       
                            <div v-for="pizza in pizzas" class="card">
                                  <img class="card-img-top" v-bind:src="pizza.img" alt="Card image cap">
                                  <div class="card-body">
                                      <h2 class="card-title">{{pizza.name}}</h2>
                                      <div class="purchase"><button class="purchase-btn">{{pizza.price}} Руб.</button></div>
                                  </div>
                            </div>
                        </div>
                        
                        <!-- Домашняя кухня -->
                        <div class="swiper-slide" id="cuisine">
                           
                            <div v-for="home in homeCooking" class="card">
                                  <img class="card-img-top" v-bind:src="home.img" alt="Card image cap">
                                  <div class="card-body">
                                      <h2 class="card-title">{{home.name}}</h2>
                                      <div class="purchase"><button class="purchase-btn">{{home.price}} Руб.</button></div>
                                  </div>
                            </div>            
                        </div>
                        
                        <!-- Салаты -->
                        <div class="swiper-slide" id="salads">
                           
                            <div v-for="salad in salads" class="card">
                                  <img class="card-img-top" v-bind:src="salad.img" alt="Card image cap">
                                  <div class="card-body">
                                      <h2 class="card-title">{{salad.name}}</h2>
                                      <div class="purchase"><button class="purchase-btn">{{salad.price}} Руб.</button></div>
                                  </div>
                            </div>            
                        </div>
                        
                        <!-- Закуки -->
                        <div class="swiper-slide" id="snacks">
                           
                            <div v-for="snack in snacks" class="card">
                                  <img class="card-img-top" v-bind:src="snack.img" alt="Card image cap">
                                  <div class="card-body">
                                      <h2 class="card-title">{{snack.name}}</h2>
                                      <div class="purchase"><button class="purchase-btn">{{snack.price}} Руб.</button></div>
                                  </div>
                            </div>            
                        </div>
                        
                        <!-- Десерты -->
                        <div class="swiper-slide" id="desserts">
                           
                            <div v-for="dessert in desserts" class="card">
                                  <img class="card-img-top" v-bind:src="dessert.img" alt="Card image cap">
                                  <div class="card-body">
                                      <h2 class="card-title">{{dessert.name}}</h2>
                                      <div class="purchase"><button class="purchase-btn">{{dessert.price}} Руб.</button></div>
                                  </div>
                            </div>            
                        </div>
                        
                        <!-- Барная карта -->
                        <div class="swiper-slide" id="drinks">
                           
                            <div v-for="drink in drinks" class="card">
                                  <img class="card-img-top" v-bind:src="drink.img" alt="Card image cap">
                                  <div class="card-body">
                                      <h2 class="card-title">{{drink.name}}</h2>
                                      <div class="purchase"><button class="purchase-btn">{{drink.price}} Руб.</button></div>
                                  </div>
                            </div>            
                        </div>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </section>  
            
    <div id="footer">
        <div class="footer-info">
            <img src="img/logo.png" class="logo ml-5" alt="">
            <div class="footer-elem">
                <p>Донецк<br>улица 50-летия СССР, 144/3<br>11:00-21:00</p>
            </div>
            <div class="footer-elem">
            <p>
                Приём заказов<br>по телефонам:<br>071-334-32-77<br>050 26 84 777
            </p>
            </div>
            <div class="footer-elem mr-5">
               <p>Мы в социальных сетях</p>
               <div class="d-flex flex-row"><a href=""><img src="img/instagram.svg" class="mr-1" alt="" width="40px" height="40px"></a><a href=""><img src="img/vk.svg" alt="" width="40px" height="40px"></a>
               </div> 
            </div>
        </div>
    </div>
    <div class="footer">
        <img src="img/logo.png" class="logo ml-4" alt="">
            <div class="footer-elem">
                <p>Донецк<br>улица 50-летия СССР, 144/3<br>11:00-21:00</p>
            </div>
            <div class="footer-elem mr-4">
            <p>
                Приём заказов<br>по телефонам:<br>071-334-32-77<br>050 26 84 777
            </p>
            </div>
    </div>       
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
   
   <script src="js/vue.js"></script>
    <script>
      var mySwiper = new Swiper ('.swiper-container', {
        direction: 'vertical',
      slidesPerView: 'auto',
      freeMode: true,
           pagination: {
        el: '.swiper-pagination',
               clickable: true,
      },
      scrollbar: {
        el: '.swiper-scrollbar',
        hide: true,
      },
      mousewheel: true,
    });
  </script>                
</body>
</html>