#about-me{
    position: relative;
    min-height: 550px;
    font-size: 10px;
    width: 100%;
    flex-direction: column;
    background: white;
    
    
    p{font-size: 1.3rem; font-style: italic; line-height: 2rem;}
    
    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: gray;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        
        img{width: 70%; max-height: 100%; border-radius: 10px;object-fit: cover;}
        
        div{
            width: 100%;
        }
    }
}

@media(min-width:992px){
    #about-me{
        flex-direction: row;
        p{
            font-size: 2rem; 
            font-style: italic; 
            line-height: 2.5rem; 
            padding-left: 2rem;
        }
        
        div{margin-right: 2rem;}
    }
}

