@import url(http://allfont.ru/allfont.css?fonts=montserrat-light);
#start-section {
  position: relative;
  width: 100%;
  min-height: 700px;
  background: url(../img/pizza1.jpg);
  background-size: cover;
}
#start-section .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0.5;
  background: black;
  opacity: 0.7;
  content: "";
}

.swiper-container .swiper-slide .slide-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  background: black;
  opacity: 0.8;
}

.swiper-container {
  max-width: 600px;
  max-height: 500px;
  width: 100%;
  position: relative;
}
.swiper-container .swiper-slide {
  position: relative;
  z-index: 3;
  height: auto;
}
.swiper-container .swiper-slide div {
  width: 100%;
  height: 100%;
  position: absolute;
  visibility: visible;
  color: white;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.swiper-container .swiper-slide div p {
  width: 90%;
  text-align: center;
  font-size: 1.1rem;
}
.swiper-container .swiper-slide .slide-overlay {
  opacity: 0.2;
}

.combo-box {
  width: 100%;
  max-width: 600px;
  min-height: 150px;
  background: #000000a6;
  border-radius: 10px;
  color: #c4c4c4;
  text-align: center;
  z-index: 4;
}
.combo-box img {
  width: 125px;
  height: 125px;
  border-radius: 10px;
}
.combo-box p {
  font-size: 1rem;
  margin-top: 1rem;
}

@media (max-width: 991px) {
  .swiper-container {
    margin-bottom: 4rem;
    max-height: 200px;
  }

  .swiper-wrapper {
    max-height: 200px;
  }

  .combo-box {
    margin-bottom: 1rem;
  }
  .combo-box p {
    font-size: 0.7rem;
  }
  .combo-box img {
    width: 95%;
    height: 80%;
  }

  #start-section .main-section {
    margin-top: 10rem;
  }
}
.header_pc, .header_mobile {
  position: fixed;
  justify-content: space-between;
  left: 0;
  top: 0;
  align-items: center;
  z-index: 5;
}

.header_pc .menu_pc .pc_nav_item:hover, .header_pc .menu_pc ul .active {
  background: url(../img/line.png);
  background-position: bottom center;
  background-size: 60px auto;
  background-repeat: no-repeat;
}

.header_mobile .logo {
  width: 150px;
  height: 100px;
}

.header_pc {
  justify-content: center;
}
.header_pc .logo {
  width: 225px;
  height: 100px;
}
.header_pc .menu_pc ul {
  justify-content: space-between;
}
.header_pc .menu_pc ul li {
  text-align: center;
}
.header_pc .menu_pc ul a {
  color: #c4c4c4;
  text-decoration: none;
  font-size: 1.3rem;
  font-family: Candara;
}
.header_pc .menu_pc ul a:hover {
  color: #ff5c00;
}
.header_pc .menu_pc ul .active {
  color: #ff5c00;
}
.header_pc .menu_pc .pc_nav_item {
  height: auto;
  padding-bottom: 1rem;
}
@media (max-width: 991px) {
  .header_mobile {
    visibility: visible;
  }

  .header_pc {
    visibility: hidden;
  }
}
@media (min-width: 992px) {
  .header_mobile {
    visibility: hidden;
  }

  .header_pc {
    visibility: visible;
  }
}
#second-section .swiper-container .swiper-wrapper .swiper-slide .dish-info div div, #second-section .swiper-container .swiper-wrapper .swiper-slide .dish-info div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#second-section {
  width: 100%;
  height: auto;
  max-height: 800px;
  background: gray;
  position: relative;
}
#second-section .swiper-button-next, #second-section .swiper-button-prev {
  top: 90%;
}
#second-section .swiper-pagination-bullet {
  width: 60px;
  height: 60px;
  margin-right: 1rem;
  opacity: 1;
  background: url(../img/pizza/adriatiko.jpg);
  background-position: center;
  background-size: cover;
}
#second-section swiper-container-horizontal > .swiper-pagination-bullets {
  top: 85%;
}
#second-section .swiper-pagination-bullet-active {
  width: 80px;
  transition: 0.5s;
  height: 80px;
}
#second-section .swiper-container {
  max-width: 100%;
  max-height: 800px;
  height: 800px;
  position: relative;
}
#second-section .swiper-container .swiper-wrapper {
  max-height: 800px;
  height: 100%;
}
#second-section .swiper-container .swiper-wrapper .swiper-slide {
  width: 100vw;
  max-height: 800px;
  height: 800px;
  background-size: cover;
  background-repeat: no-repeat;
}
#second-section .swiper-container .swiper-wrapper .swiper-slide .overlay {
  opacity: 0.4;
  content: "";
}
#second-section .swiper-container .swiper-wrapper .swiper-slide .dish-info {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#second-section .swiper-container .swiper-wrapper .swiper-slide .dish-info div {
  position: static;
  max-width: 1300px;
  width: 100%;
  text-align: left;
  align-items: flex-start;
}
#second-section .swiper-container .swiper-wrapper .swiper-slide .dish-info div div {
  width: 200px;
  align-items: center;
}
#second-section .swiper-container .swiper-wrapper .swiper-slide .dish-info div div p {
  width: 100%;
  text-align: left;
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 1.5rem;
}
#second-section .swiper-container .swiper-wrapper .swiper-slide .dish-info div div span {
  font-size: 1.5rem;
  width: 100%;
}
#second-section .swiper-container .swiper-wrapper .swiper-slide .dish-info div div .button {
  font-size: 1.1rem;
  margin-top: 3rem;
  width: auto;
}

@media (max-width: 991px) {
  #second-section .swiper-container {
    margin-bottom: 0;
  }
}
#third-section {
  position: relative;
  width: 100%;
  background: url(../img/bigJohn.jpg);
  min-height: 700px;
  background-size: cover;
}
#third-section .overlay {
  opacity: 0.4;
}
#third-section p {
  color: white;
  font-size: 1.4rem;
  margin-bottom: 1rem;
  font-size: bold;
  font-family: "Montserrat Light", arial;
}

@media (max-width: 991px) {
  #third-section p {
    font-size: 1.2rem;
  }
  #third-section .overlay {
    opacity: 0.7;
  }
}
#footer .footer-info, #footer {
  display: flex;
  flex-direction: row;
}

#footer {
  justify-content: center;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}
#footer .footer-info {
  position: static;
  max-width: 1300px;
  height: auto;
  width: 100%;
  justify-content: space-between;
}
#footer .footer-info .logo {
  width: 150px;
  height: 100px;
}
#footer .footer-info .footer-elem {
  width: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#footer .footer-info .footer-elem p {
  font-size: 1.2rem;
  color: #c4c4c4;
  text-align: center;
  font-family: "Montserrat Light", arial;
}

.footer {
  width: 100%;
  height: 150px;
  background: black;
  display: flex;
  align-items: center;
  color: white;
  justify-content: space-between;
}
.footer .footer-elem {
  width: auto;
}
.footer p {
  font-size: 0.8rem;
  text-align: center;
}
.footer .logo {
  width: 105px;
  height: 80px;
}

@media (max-width: 991px) {
  #footer {
    visibility: hidden;
  }
}
@media (min-width: 992px) {
  .footer {
    visibility: hidden;
    height: 0;
    position: absolute;
    top: 0;
  }
}
@font-face {
  font-family: Candara;
  src: url(fonts/candara.ttf);
}
body {
  position: relative;
  font-family: Candara;
}

.row {
  margin: 0;
}

.button {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background: #ff5c00;
  border-radius: 80px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #c4c4c4;
  text-decoration: none;
  font-size: 15px;
}
.button:hover {
  text-decoration: none;
  color: white;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0.5;
  background: black;
  opacity: 0.7;
  content: "";
}

.swiper-button-next, .swiper-button-prev {
  color: #ff5c00;
  top: 50%;
}

@media (max-width: 991px) {
  .nav_mob {
    visibility: visible;
  }

  .pc_menu {
    visibility: hidden;
  }
}
@media (min-width: 992px) {
  .nav_mob {
    visibility: hidden;
  }

  .pc_menu {
    visibility: visible;
  }
}